* {
  font-family: "Montserrat";
  color: white;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70vw;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  color: white;
}

input::file-selector-button, button {
  color: black;
  background-color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
}

table {
  border-spacing: 20px;
  font-size: 24px;
  border: solid;
  border-radius: 5px;
}

.metricField {
  font-weight: 600;
}

.metricValue {
  font-weight: 200;
}